*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* TOP
.iXSAKl {
    display: flex;
    position: fixed;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    font-weight: 400;
    width: 100%;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-top: -40px;
    transition: all 0.6s ease 0s;
    background-image: linear-gradient(to right, rgb(35, 21, 68), rgb(119, 69, 122), rgb(173, 128, 103), rgb(182, 61, 153), rgb(49, 75, 173), rgb(68, 161, 223), rgb(56, 62, 163), rgb(48, 36, 73)); 
} */
.iXSAKl:hover{
    color: #000;
    opacity: 90%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
/*  */
#first-image{
    background-image: url(./photo-1541185933-ef5d8ed016c2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -6.1rem;
    width: 100%;
    height: 100vh;
}
@media(max-width:735px){
    #first-image{
        background-image: url(./photo-1541185933-ef5d8ed016c2);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -13rem;
        width: 100%;
        height: 127vh;
    }
}
@media(max-width:570px){
    .nav-item{
        background-image: linear-gradient(to right, rgb(0,35,96), rgb(0,47,105), rgb(0,39,97), rgb(0,50,112));
        margin-top: -0.6rem;
        margin-left: -6rem;
        text-align: center;
        transition: all 0.3s ease 0s;
    }
}
/*  */
.UPCOMING-LAUNCH-STARLINK-MISSION-TEXT h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: -22rem;
    margin-left: 5em;
}
.STARLINK-MISSION-TEXT {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-left: 2.6em;
    font-size: 3pc;
}
@media(max-width:735px){
    .STARLINK-MISSION-TEXT{
        margin-left: 2.4em;
        transition: all 0.3s ease 0s;
    }
}
@media(max-width:735px){
    .STARLINK-MISSION-TEXT{
        transition: all 0.3s ease 0s;
    }
    .UPCOMING-LAUNCH-STARLINK-MISSION-TEXT {
        margin-top: -35rem;
    }
}
@media(max-width:455px){
    .UPCOMING-LAUNCH-STARLINK-MISSION-TEXT {
        margin-top: -20rem;
    }
    .STARLINK-MISSION-TEXT{
        margin-left: 2em;
        transition: all 0.3s ease 0s;
    }
}
@media(max-width:595px){
    .UPCOMING-LAUNCH-STARLINK-MISSION-TEXT {
        margin-left: -4em;
    }
    .STARLINK-MISSION-TEXT{
        
        transition: all 0.3s ease 0s;
    }
}
@media(max-width:455px){
    .btn{
        margin-left: 9em !important;
    }
}
.btn:hover{
    background-image: linear-gradient(rgb(209, 209, 209),rgb(201, 201, 201));
    transition: 1s;
}
/*  */
/* second-image */
#second-image{
    background-image: url(./37448.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -6.1rem;
    width: 100%;
    height: 100vh;
}
@media(max-width:455px){
    #second-image{
        background-image: url(./37448.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -10.1rem;
        width: 100%;
        height: 100vh;
    }
}
.STARLINK-MISSION{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -20rem;
    margin-left: 2.6em;
    font-size: 3pc;
    transition: all 0.3s ease 0s;
}
@media(max-width:735px){
    .STARLINK-MISSION{
        color: rgb(255, 255, 255);
        transition: all 0.3s ease 0s;
    }
}
@media(max-width:410px){
    .STARLINK-MISSION{
        margin-left: 2em;
        transition: all 0.3s ease 0s;
    }
}
/*  */
#third-image{
    background-image: url(./thumb-1920-297796.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -6.1rem;
    width: 100%;
    height: 100vh;
}
@media(max-width:455px){
    #third-image{
        background-image: url(./thumb-1920-297796.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -10.1rem;
        width: 100%;
        height: 100vh;
    }
}
/*  */
#last-image{
    background-image: url(./for_press_release.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -6.1rem;
    width: 100%;
    height: 100vh;
}
@media(max-width:510px){
    #last-image{
        background-image: url(./for_press_release.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        margin-top: -10.1rem;
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:455px){
    .STARLINK-MISSION{
        margin-top: -50rem;
        margin-left: 2em;
        transition: all 0.3s ease 0s;
        padding-bottom: 2.7em;
    }
}
/*  */
.push{
    
}
#footer .list-items{
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    width: 55%;
    
    
}
















